{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}

{% include 'navbar.html' %}

  <!-- HOME -->
  <section class="home-section section-hero overlay bg-image"  style="background-image: url('https://res.cloudinary.com/dj6izkhrs/image/upload/v1704646775/r87c3azrzlmvl5r9nt9i.jpg');" id="home-section">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="mb-5 text-center">
            <h1 class="text-white font-weight-bold">Welcome to JOBNET-360 </h1>
            <p>Empowering Careers, Transforming Futures </p>
          </div>
          <form id="job-main-form" method="get" action="{% url 'jobs:search' %}" class="search-jobs-form">
            <div class="row mb-5">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                 <input type="text"  id="title" name="title" class="form-control form-control-lg" placeholder=" Software Engineer ... ">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                 <input    type="text" id="job_location" name="job_location" class="form-control form-control-lg" placeholder="Monrovia, Liberia">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <select id="employment_status" name="employment_status" class="form-control">
                  <option>Part Time</option>
                  <option>Full Time</option>
                  <option>Freelance</option>
                </select>
              </div>


              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


  </section>
            <!-- Category Start -->
            <div class="container-xxl py-5">
              <div class="container">
                  <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
                  <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="">
                            <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                            <h6 class="mb-3">Marketing</h6>
                            <ol>
                                <li>Marketing Manager</li>
                                <li>Digital Marketing Specialist</li>
                                <li>Content Creator</li>
                                <li>Social Media Coordinator</li>
                            </ol>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a class="cat-item rounded p-4" href="">
                            <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                            <h6 class="mb-3">Customer Service</h6>
                            <ol>
                                <li>Customer Service Representative</li>
                                <li>Customer Support Specialist</li>
                                <li>Client Success Manager</li>
                                <li>Help Desk Technician</li>
                            </ol>
                        </a>
                    </div>
<!-- Human Resource -->
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
    <a class="cat-item rounded p-4" href="">
        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
        <h6 class="mb-3">Human Resource</h6>
        <ol>
            <li>Human Resources Generalist</li>
            <li>Recruitment Specialist</li>
            <li>HR Coordinator</li>
            <li>Employee Relations Manager</li>
        </ol>
    </a>
</div>

<!-- Project Management -->
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
    <a class="cat-item rounded p-4" href="">
        <i class="fa fa-3x fa-tasks text-primary mb-4"></i>
        <h6 class="mb-3">Project Management</h6>
        <ol>
            <li>Project Manager</li>
            <li>Project Coordinator</li>
            <li>Scrum Master</li>
            <li>Program Manager</li>
        </ol>
    </a>
</div>

                      <!-- Business Development -->
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
    <a class="cat-item rounded p-4" href="">
        <i class="fa fa-3x fa-chart-line text-primary mb-4"></i>
        <h6 class="mb-3">Business Development</h6>
        <ol>
            <li>Business Development Manager</li>
            <li>Sales Development Representative</li>
            <li>Partnership Manager</li>
            <li>Market Research Analyst</li>
        </ol>
    </a>
</div>

<!-- Sales & Communication -->
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
    <a class="cat-item rounded p-4" href="">
        <i class="fa fa-3x fa-hands-helping text-primary mb-4"></i>
        <h6 class="mb-3">Sales & Communication</h6>
        <ol>
            <li>Sales Representative</li>
            <li>Account Executive</li>
            <li>Communication Specialist</li>
            <li>Public Relations Manager</li>
        </ol>
    </a>
</div>

<!-- Teaching & Education -->
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
    <a class="cat-item rounded p-4" href="">
        <i class="fa fa-3x fa-book-reader text-primary mb-4"></i>
        <h6 class="mb-3">Teaching & Education</h6>
        <ol>
            <li>Teacher</li>
            <li>Education Consultant</li>
            <li>Instructional Designer</li>
            <li>Training Specialist</li>
        </ol>
    </a>
</div>

<!-- Design & Creative -->
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
    <a class="cat-item rounded p-4" href="">
        <i class="fa fa-3x fa-drafting-compass text-primary mb-4"></i>
        <h6 class="mb-3">Design & Creative</h6>
        <ol>
            <li>Graphic Designer</li>
            <li>UX/UI Designer</li>
            <li>Creative Director</li>
            <li>Multimedia Artist</li>
        </ol>
    </a>
</div>
<!-- Information Technology (IT) -->
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
    <a class="cat-item rounded p-4" href="">
        <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
        <h6 class="mb-3">Information Technology (IT)</h6>
        <ol>
            <li>IT Specialist</li>
            <li>Software Developer</li>
            <li>Network Engineer</li>
            <li>Systems Analyst</li>
        </ol>
    </a>
</div>

<!-- Finance & Accounting -->
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
    <a class="cat-item rounded p-4" href="">
        <i class="fa fa-3x fa-chart-line text-primary mb-4"></i>
        <h6 class="mb-3">Finance & Accounting</h6>
        <ol>
            <li>Accountant</li>
            <li>Financial Analyst</li>
            <li>Auditor</li>
            <li>Tax Consultant</li>
        </ol>
    </a>
</div>

<!-- Healthcare & Medical -->
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
    <a class="cat-item rounded p-4" href="">
        <i class="fa fa-3x fa-hospital text-primary mb-4"></i>
        <h6 class="mb-3">Healthcare & Medical</h6>
        <ol>
            <li>Registered Nurse</li>
            <li>Medical Laboratory Technologist</li>
            <li>Healthcare Administrator</li>
            <li>Physical Therapist</li>
        </ol>
    </a>
</div>
<!-- Real Estate & Property Management -->
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
    <a class="cat-item rounded p-4" href="">
        <i class="fa fa-3x fa-home text-primary mb-4"></i>
        <h6 class="mb-3">Real Estate & Property Management</h6>
        <ol>
            <li>Real Estate Agent</li>
            <li>Property Manager</li>
            <li>Leasing Consultant</li>
            <li>Facilities Coordinator</li>
        </ol>
    </a>
</div>


                  </div>
              </div>
          </div>
          <!-- Category End -->
  



    <!-- Jobs Start -->
<div class="container-xxl py-5">
  <div class="container">
      <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Listing</h1>
      <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
          <!-- Add the tabs and tab content here -->
      </div>
  
      <!-- Job items -->
      {% for job in query %}
      <div class="job-item p-4 mb-4">
          <div class="row g-4">
              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                {% if job.image %}
                <img class="flex-shrink-0 img-fluid border rounded" src="{{ job.image.url }}" alt="Job Image" style="width: 80px; height: 80px;">
            {% else %}
                <!-- Show a default placeholder image if no image is available -->
                <img class="flex-shrink-0 img-fluid border rounded" src="{% static 'placeholder_image.jpg' %}" alt="Placeholder Image" style="width: 80px; height: 80px;">
            {% endif %}
                  <div class="text-start ps-4">
                      <h5 class="mb-3">{{ job.title }}</h5>
                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ job.job_location }}</span>
                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{ job.employment_status }}</span>
                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{ job.Salary }}</span>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                  <div class="d-flex mb-3">
                     
                      {% if user.is_authenticated %}
                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                      <a class="btn btn-primary" href="{% url 'jobs:job-single' job.id %}">Apply Now</a>
                      {% else %}
                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                      <a class="btn btn-primary" href="{% url 'accounts:user_login' %}">Apply Now</a>
                      {% endif %}
                  </div>
                  <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: {{ job.application_deadline }}</small>
              </div>
          </div>
      </div>
      {% endfor %}


      <!-- Pagination -->
      <div class="pagination">
          <span class="step-links">
              {% if query.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ query.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                  Page {{ query.number }} of {{ query.paginator.num_pages }}.
              </span>

              {% if query.has_next %}
              <a href="?page={{ query.next_page_number }}">next</a>
              <a href="?page={{ query.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
  </div>
</div>
{% endblock %}
