{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  {% include 'navbar.html' %}
  <div class="container">
    <h2>Your Job is in Draft Status</h2>
    <p>Your job post is currently in draft status and awaiting confirmation. Make the necessary payment to publish it.</p>
    <h3>Payment Options</h3>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Mobile Money</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Payment Method</td>
                        <td>Mobile Money</td>
                    </tr>
                    <tr>
                        <td>Mobile Money Number</td>
                        <td><strong>0888880929</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Bank Transfer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Account Holder</td>
                        <td>Abraham E. Bedell</td>
                    </tr>
                    <tr>
                        <td>Account Number</td>
                        <td><strong>560 495 5969 0495</strong></td>
                    </tr>
                    <tr>
                        <td>Bank</td>
                        <td>GT Bank</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
