{% extends 'base.html' %}


{% load static %}
{% load crispy_forms_tags %}


{% block head %}
    <!-- Other head elements -->

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ q.title }}">
    <meta property="og:description" content="{{ q.description }}">
    <meta property="og:image" content="{{ q.image.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}{{ job.get_absolute_url }}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Your Site Name">

    <!-- Other meta tags, stylesheets, etc. -->
{% endblock %}



{% block content %}

{% include 'navbar.html' %}
<section class="home-section section-hero inner-page overlay bg-image"
  style="background-image: url('https://res.cloudinary.com/dj6izkhrs/image/upload/v1704655253/zq0ij1ajgzy5jmjgirsy.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">{{ q.title }}</h1>
            </div>
        </div>
    </div>
</section>


    <section class="site-section">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        {% if q.image %}
                        <div class="border p-2 d-inline-block mr-3 rounded">
                            <img src="{{ q.image.url }}" alt="Company logo" style="width: 100px; height: 100px; object-fit: cover;">
                        </div>
                    {% else %}
                        <div class="border p-2 d-inline-block mr-3 rounded">
                            <p>No image available</p>
                        </div>
                    {% endif %}
                    
                                          
                        <div>
                            <h2>{{ q.title }}</h2>
                            <div>
                                <span class="ml-0 mr-2 mb-2"><span
                                        class="icon-briefcase mr-2"></span>{{ q.company_name }}</span>
                                <span class="m-2"><span class="icon-room mr-2"></span>{{ q.job_location }}</span>
                                <span class="m-2"><span class="icon-clock-o mr-2"></span><span
                                        class="text-primary"> {{ q.employment_status }}
                      </span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <!-- Update the link to include the job_listing_id -->
                            <a href="{% url 'jobs:apply' job_listing_id=q.id %}" class="btn btn-block btn-primary btn-md">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <figure class="mb-5"><img src="{% static 'images/green.png' %}"
                                                  alt="Free Website Template by Free-Template.co"
                                                  class="img-fluid rounded"></figure>
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                                class="icon-align-left mr-3"></span>Job
                            Description</h3>
                        <p>{{ q.description }}</p>
                    </div>
                    <div class="mb-5">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                                class="icon-rocket mr-3"></span>Responsibilities</h3>
                        <ul class="list-unstyled m-0 p-0">
                            <li class="d-flex align-items-start mb-2"><span
                                    class="icon-check_circle mr-2 text-muted"></span><span>{{ q.responsibilities }}</span>
                            </li>

                        </ul>
                    </div>

                    <div class="mb-5">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-book mr-3"></span>Experience
                        </h3>
                        <ul class="list-unstyled m-0 p-0">
                            <li class="d-flex align-items-start mb-2"><span
                                    class="icon-check_circle mr-2 text-muted"></span><span>{{ q.experience }}</span>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bg-light p-3 border rounded mb-4">
                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
                        <ul class="list-unstyled pl-3 mb-0">
                            <li class="mb-2"><strong class="text-black">Published
                                on:</strong> {{ q.published_on|timesince }} ago
                            </li>
                            <li class="mb-2"><strong class="text-black">Vacancy:</strong> {{ q.vacancy }}</li>
                            <li class="mb-2"><strong class="text-black">Employment
                                Status:</strong> {{ q.employment_status }}</li>
                            <li class="mb-2"><strong class="text-black">Experience:</strong> {{ q.experience }}</li>
                            <li class="mb-2"><strong class="text-black">Job Location:</strong> {{ q.job_location }}</li>
                            <li class="mb-2"><strong class="text-black">Salary:</strong> {{ q.Salary }}</li>
                            <li class="mb-2"><strong class="text-black">Gender:</strong> {{ q.gender }}</li>
                            <li class="mb-2"><strong class="text-black">Application
                                Deadline:</strong> {{ q.application_deadline }}</li>
                        </ul>
                    </div>

                    <div class="bg-light p-3 border rounded">
                        <h3 class="text-primary mt-3 h5 pl-3 mb-3">Share</h3>
                        <div class="px-3">
<!-- Update the link to include the job_listing_id -->
<a href="{% url 'jobs:apply' job_listing_id=q.id %}" class="btn btn-block btn-primary btn-md">Apply Now</a>

<!-- Facebook Share -->
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}{{ job.get_absolute_url }}" class="pt-3 pb-3 pr-3 pl-0" target="_blank">
    <span class="icon-facebook"></span>
</a>

<!-- Twitter Share -->
<a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}{{ job.get_absolute_url }}&text=Check%20out%20this%20job:%20{{ q.title }}" class="pt-3 pb-3 pr-3 pl-0" target="_blank">
    <span class="icon-twitter"></span>
</a>

<!-- LinkedIn Share -->
<a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}{{ job.get_absolute_url }}&title={{ q.title }}&summary={{ q.description }}&source={{ q.company_name }}" class="pt-3 pb-3 pr-3 pl-0" target="_blank">
    <span class="icon-linkedin"></span>
</a>

<!-- Pinterest Share -->
<a href="https://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}{{ job.get_absolute_url }}&media={{ q.image.url }}&description={{ q.title }}" class="pt-3 pb-3 pr-3 pl-0" target="_blank">
    <span class="icon-pinterest"></span>
</a>

                        </div>
                    </div>                    
                    <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                        <h4 class="mb-4">Company Detail</h4>
                        <p class="m-0">{{ q.company_details }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}




