{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  {% include 'navbar.html' %}
  <br>
  <div class="container">
    <h2>
      ⚠️ Attention: Your posted job will be moved to draft status in 5 days if 5.00USD payment is not completed. Act now to keep it visible!
  </h2>
    <h3>Payment Options</h3>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Mobile Money</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Payment Method</td>
                        <td>Mobile Money</td>
                    </tr>
                    <tr>
                        <td>Mobile Money Number</td>
                        <td><strong>0888880929</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Bank Transfer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Account Holder</td>
                        <td>Abraham E. Bedell</td>
                    </tr>
                    <tr>
                        <td>Account Number</td>
                        <td><strong>201-124311-2590</strong></td>
                    </tr>
                    <tr>
                        <td>Bank</td>
                        <td>GT Bank</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
